<h1>Home</h1>

<table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>
  
  <thead> <%#table header%>
    <tr>
      <th>Things You Should Know</th>
      <th>Social Feed</th> 
    </tr>
  </thead>

  <tbody>
    <tr>
      <td></td>
      <td>
          <div id="tweet_form">
            <%=render 'tweets/message_form'%>
          </div>
          <div id="tweets_box">
            <%= render 'tweets/tweet' %>
          </div>
          
      </td>
    </tr>
  </tbody>

</table>

<script>
function executeQuery() {
  $.ajax({
    success: function(data) {
      $('#tweets_box').load('home/index #tweets_box')
    }
  });
  setTimeout(executeQuery, 60000);
}

$(document).ready(function() {
  setTimeout(executeQuery, 60000);
});
</script>