<h1>Home</h1>


<div><div style="float: left; width: 45%; height: 500px; overflow: scroll">
<table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>
  
  <thead> <%#table header%>
    <tr>
      <th>Announcements and Notifications</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
        <% if current_user.admin? %>
          <div id="notification_form">
            <%=render 'notifications/notification_form'%>
            <br>
          </div>
        <% end %>
        <div id="notifications_box">
          <%= render 'notifications/notification' %>
        </div>
      </td>
    </tr>
  </tbody>

</table>
</div>




<div><div style="float: right; width: 45%; height: 500px; overflow: scroll">
<table class="table table-bordered"> <%#table style (with borders around all cells); bordered, striped, hover all possible%>
  
  <thead> <%#table header%>
    <tr>
      <th>Social Feed</th> 
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
          <div id="tweet_form">
            <%=render 'tweets/message_form'%>
          </div>
          <div id="tweets_box">
            <%= render 'tweets/tweet' %>
          </div>
          
      </td>
    </tr>
  </tbody>

</table>
</div>
<script>
function executeQuery() {
  $.ajax({
    success: function(data) {
      $('#tweets_box').load('home/index #tweets_box')
      $('#notifications_box').load('home/index #notifications_box')
    }
  });
  setTimeout(executeQuery, 60000);
}

$(document).ready(function() {
  setTimeout(executeQuery, 60000);
});

</script>

