
<% @notifications.each do |notification|%>
	<%= div_for notification do%>
		<tr><td>
		<p><%= notification.message %></p>
		<a href= <%= notification.link %>>Link</a>
		<p>Posted <%= time_ago_in_words(notification.created_at) %> ago</p>
	<%end%>
</tr></td>
<%end%>