<%= form_for(@code_solution) do |f| %>
  <% if @code_solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code_solution.errors.count, "error") %> prohibited this code_solution from being saved:</h2>

      <ul>
      <% @code_solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
