html {
  font-family: Sans-Serif;
}

body {
  background: #FFEDD9 !important;
}

* {
	color: #226637;
}

.btn-default{
	padding: 2px 12px;
	font-size: 14px;
	background-color: #3A768D;
	color: #FFEDD9;
	border: transparent !important;
	&:hover {
    	background-color: #3A768D !important;
  	} 
}

a{
	color:#226637 !important;
}

a[href]:hover {
	text-decoration: none !important;
	background-color: transparent;
	color: #3EA069 !important;
}

.btn-like{
	padding: 2px 12px;
	font-size: 14px;
	background-color: #3A768D;
}

.navbar-inverse { //changes colour of (originally black) header
    background-color: #204A59 !important;
}

a.navbar-brand {
  font-size: 160%;
  color: #FFEDD9 !important;
}

.toplink {
	color: #FFEDD9 !important;
	&:hover {
    	background-color: transparent !important;
    	text-decoration: none;
    	color: #FFEDD9 !important;
  	} 
}

.topbar-link {
	color: #FFEDD9 !important;
	&:hover {
    	background-color: transparent !important;
    	text-decoration: none;
    	color: #FFEDD9 !important;
  	} 
}


