.btn-default{
	padding: 2px 12px;
	font-size: 14px;
}
a[href]:hover {
	text-decoration: none !important;
	background-color: transparent;
	color: #000;
}

.btn-like{
	padding: 2px 12px;
	font-size: 14px;
}