<h1>Project Archive</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Github Link</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |proj| %>
      <tr>
        <td><%=proj.title%></td>
        <td><%=link_to "Github", proj.git_link%></td>
        <td><div style="height:100px; overflow:hidden"%><%=proj.technical_description.html_safe%></div>
            <br><br>
            <div align="right"><button class="btn btn-default"><%= link_to 'View', proj %></button></div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>