<h1>Project List</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Associated Partnerships</th>
      <th>Github Link</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td>Partnership</td>
        <td><%= link_to 'Github', project.git_link %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
