<%= form_for(@board_post) do |f| %>
  <% if @board_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board_post.errors.count, "error") %> prohibited this board_post from being saved:</h2>

      <ul>
      <% @board_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
