<h1>Sounding Board</h1>
<div align="right"><button class="btn btn-default"><%= link_to 'Add New Board Post', new_board_post_path %></button></div>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th>Tags</th>
      <th>Author</th>
    </tr>
  </thead>

  <tbody>
    <% @board_posts.each do |board_post| %>
      <tr>
        <td><%=board_post.content%><br><br><%= link_to 'Comment', board_post %></td>
        <td>Tags???</td>
        <td><%=board_post.user.name%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


