<h1>Admin Page</h1>

<br><br>
<%= link_to 'User List', {:controller => "users", :action => "index"} %>
<br><br><br>
<%= link_to 'Projects List', {:controller => "projects", :action => "index"}%>
<br><br><br>
<%= link_to 'Partnership List', {:controller => "partnerships", :action => "admin_form"}%>
<br><br><br>
<%= link_to 'Assign Groups', {:controller => "groups", :action => "index"}%>