

<%@tweets = Tweet.all.order('created_at DESC')%>
<% @tweets.each do |tweet|%>
	<%= div_for tweet do%>
		<p><%= tweet.message %></p>
		<p>Posted <%= time_ago_in_words(tweet.created_at) %> ago by <%=tweet.user.nickname%></p>
	<%end%>
<%end%>


